[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = git@github.com:wookiehangover/jshint.vim.git
[submodule ".vim/bundle/llvm.vim"]
	path = .vim/bundle/llvm.vim
	url = git@github.com:Superbil/llvm.vim.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule ".vim/bundle/vim-flavored-markdown"]
	path = .vim/bundle/vim-flavored-markdown
	url = git@github.com:jtratner/vim-flavored-markdown.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = git@github.com:tpope/vim-git
[submodule ".vim/bundle/vim-handlebars"]
	path = .vim/bundle/vim-handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
