[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = git@github.com:wookiehangover/jshint.vim.git
[submodule ".vim/bundle/llvm.vim"]
	path = .vim/bundle/llvm.vim
	url = git@github.com:Superbil/llvm.vim.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule ".vim/bundle/vim-flavored-markdown"]
	path = .vim/bundle/vim-flavored-markdown
	url = git@github.com:jtratner/vim-flavored-markdown.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = git@github.com:tpope/vim-git
[submodule ".vim/bundle/vim-handlebars"]
	path = .vim/bundle/vim-handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule ".vim/bundle/vim-alan"]
	path = .vim/bundle/vim-alan
	url = git@github.com:alantech/vim-alan
[submodule ".vim/bundle/vim-antlr"]
	path = .vim/bundle/vim-antlr
	url = git@github.com:dylon/vim-antlr
[submodule ".vim/bundle/async.vim"]
	path = .vim/bundle/async.vim
	url = git@github.com:prabirshrestha/async.vim
[submodule ".vim/bundle/asyncomplete-lsp.vim"]
	path = .vim/bundle/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/bundle/asyncomplete-tscompletejob.vim"]
	path = .vim/bundle/asyncomplete-tscompletejob.vim
	url = git@github.com:prabirshrestha/asyncomplete-tscompletejob.vim
[submodule ".vim/bundle/asyncomplete.vim"]
	path = .vim/bundle/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim
[submodule ".vim/bundle/tscompletejob"]
	path = .vim/bundle/tscompletejob
	url = git@github.com:runoshun/tscompletejob
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = git@github.com:/leafgarland/typescript-vim
[submodule ".vim/bundle/vim-lsp-settings"]
	path = .vim/bundle/vim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings
[submodule ".vim/bundle/vim-lsp"]
	path = .vim/bundle/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic
